---
apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ kubeadm_cluster_api_hostname }}:{{ loadbalancer_apiserver_port }}
    token: {{ kubeadm_masters_init_join_command.stdout }}
    caCertHashes:
      - sha256:{{ kubeadm_masters_init_ca_hash.stdout | trim }}
  timeout: 5m0s
controlPlane:
  localAPIEndpoint:
    advertiseAddress: {{ internal_ip }}
    bindPort: 6443
  certificateKey: {{ kubeadm_masters_init_certificates_key.stdout_lines | last | string }}
caCertPath: /etc/kubernetes/pki/ca.crt
nodeRegistration:
  criSocket: {{ kubeadm_cri_socket }}
  name: {{ node_name }}
  taints:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
  imagePullPolicy: IfNotPresent
  ignorePreflightErrors:
    - ImagePull
patches:
  directory: /etc/kubernetes/kubeadm/patches
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetes_version }}
apiServer:
  timeoutForControlPlane: 4m0s
  extraArgs:
    insecure-port: 0
    event-ttl: 1h0m0s
  enable-bootstrap-token-auth: true
certificatesDir: /etc/kubernetes/pki
clusterName: {{ kubeadm_masters_init_cluster_name }}
dns: {}
etcd:
  local:
    dataDir: {{ kubeadm_masters_init_etc_data_dir }}
imageRepository: k8s.gcr.io
controlPlaneEndpoint: {{ kubeadm_cluster_api_hostname }}:{{ loadbalancer_apiserver_port }}
networking:
  dnsDomain: cluster.local
  serviceSubnet: {{ kubeadm_masters_init_service_cidr }}
  podSubnet: {{ kubeadm_masters_init_pod_network_cidr }}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
rotateCertificates: true
serverTLSBootstrap: true
enableServer: true
readOnlyPort: 0
authentication:
  anonymous:
    enabled: false
  webhook:
    cacheTTL: 2m0s
    enabled: true
  x509:
    clientCAFile: /etc/kubernetes/pki/ca.crt
authorization:
  mode: Webhook
  webhook:
    cacheAuthorizedTTL: 5m0s
    cacheUnauthorizedTTL: 30s
